<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.spotify_clone_offline">

    <application
        android:allowBackup="true"
        android:icon="@drawable/spotify"
        android:label="Spotify"
        android:roundIcon="@drawable/spotify"
        android:supportsRtl="true"
        android:theme="@style/Theme.Spotify_Clone_Offline">

        <activity
            android:name=".Splash_screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>